.box {
    width: 200px;
    height: 200px;
    background-color: crimson;
    cursor: pointer;
    border-radius: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}